<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态组件测试</title>
    <!--<link rel="stylesheet" href="style/button.css">-->
    <link rel="stylesheet" href="style/button.css">
    <style>
        .fade-transition {
            transition: opacity .2s ease;
        }
        .fade-enter, .fade-leave {
            opacity: 0;
        }
    </style>
</head>
<body>
<v-button :type="currentView == 'component1' ? 'blue' : 'white'" @click="switchCurrent(1)">组件1</v-button>
<v-button :type="currentView == 'component2' ? 'blue' : 'white'" @click="switchCurrent(2)">组件2</v-button>

<br>
<br>
<br>
<component :is="currentView" keep-alive transition="fade" transition-mode="out-in" />

</body>
<script src="vue.js"></script>
<script src="component/component.all.js"></script>

<script>
    new Component('button');

    Vue.component('component1', {
        template: '<div>组件1： <input type="text" v-model="input"/></div>',
        methods: {
            eventA: function () {
                this.$dispatch('click')
            }
        },
        data: function () {
            return {
                input: '组件1'
            }
        }
    });

    Vue.component('component2', {
        template: '<div> 组件2 ： <input type="text" v-model="input"/></div>',
        data: function () {
            return {
                input : '组件2'
            }
        }
    });


    var app = new Vue({
        el: 'body',
        data: {
            currentView: 'component1'
        },
        events: {
            click: function () {
                console.log(123123)
            }
        },
        methods: {
            switchCurrent: function (i) {
                this.currentView = 'component' + i;
            }
        }
    })
</script>

</html>