
/*# sourceMappingURL=button.css.map */


.zq-btn {
    /*width: 80px;*/
    height: 32px;
    outline: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

.zq-default-btn {
    border-color: #d9d9d9;
}

.zq-default-btn:hover {
  color: #3498db;
  border : 1px solid #3498db;
}

.zq-default-btn:active {
  border : 1px solid #298fd3;
  color: #298fd3;
}

.zq-blue-btn {
  color: #ffffff;
  background-color: #3498db;
}

.zq-blue-btn:hover {
  color: #fff;
  background-color: #3da2e3;
}

.zq-blue-btn:active {
  color: #fff;
  background-color: #298fd3;
}

.zq-white-btn {
  color: #3497d8;
  background-color: #ffffff;
  border: 1px solid #3497d8;
}

.zq-white-btn:hover {
  background-color: #3498db;
  color: #ffffff; }

.zq-white-btn:active {
  background-color: #298fd3;
}

.zq-red-btn {
  color: #ffffff;
  background-color: #e35051;
 }

.zq-red-btn:hover {
  background-color: #f16465; }

.zq-red-btn:active {
  background-color: #d94647; }

.zq-orange-btn {
  color: #ffffff;
  background-color: #f9a74d;

}

.zq-orange-btn:hover {
  background-color: #FFb15b; }

.zq-orange-btn:active {
  background-color: #f9a344; }

.zq-grey-btn {
  color: #ffffff;
  background-color: #9fa3a6;
}

.zq-grey-btn:hover {
  background-color: #a6abad;
}

.zq-grey-btn:active {
  background-color: #959a9b;
}



.zq-ghost-btn {
  border: 1px dashed #dddddd;
  color: #4ca0df;
}


.zq-disable-btn {
  background-color: #b2b2b2;
  color: #ffffff;
  cursor: not-allowed;
  border: none;
}

.zq-disable-btn:hover {
  border: none;
  color: #fff;
  border-color: #d9d9d9;
}