.zq-tooltip{position:absolute;z-index:1060;display:block;visibility:visible;font-size:12px;line-height:1.5;opacity:.9}

.zq-tooltip-hidden {
    display: none
}

.zq-tooltip-placement-top,.zq-tooltip-placement-topLeft,.zq-tooltip-placement-topRight {
    padding: 5px 0 8px
}

.zq-tooltip-placement-right,.zq-tooltip-placement-rightBottom,.zq-tooltip-placement-rightTop {
    padding: 0 5px 0 8px
}

.zq-tooltip-placement-bottom,.zq-tooltip-placement-bottomLeft,.zq-tooltip-placement-bottomRight {
    padding: 8px 0 5px
}

.zq-tooltip-placement-left,.zq-tooltip-placement-leftBottom,.zq-tooltip-placement-leftTop {
    padding: 0 8px 0 5px
}

.zq-tooltip-inner {
    max-width: 250px;
    padding: 8px 10px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #373737;
    border-radius: 6px;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
    min-height: 34px
}

.zq-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.zq-tooltip-placement-top .zq-tooltip-arrow,.zq-tooltip-placement-topLeft .zq-tooltip-arrow,.zq-tooltip-placement-topRight .zq-tooltip-arrow {
    bottom: 3px;
    border-width: 5px 5px 0;
    border-top-color: #373737
}

.zq-tooltip-placement-top .zq-tooltip-arrow {
    left: 50%;
    margin-left: -5px
}

.zq-tooltip-placement-topLeft .zq-tooltip-arrow {
    left: 16px
}

.zq-tooltip-placement-topRight .zq-tooltip-arrow {
    right: 16px
}

.zq-tooltip-placement-right .zq-tooltip-arrow,.zq-tooltip-placement-rightBottom .zq-tooltip-arrow,.zq-tooltip-placement-rightTop .zq-tooltip-arrow {
    left: 3px;
    border-width: 5px 5px 5px 0;
    border-right-color: #373737
}

.zq-tooltip-placement-right .zq-tooltip-arrow {
    top: 50%;
    margin-top: -5px
}

.zq-tooltip-placement-rightTop .zq-tooltip-arrow {
    top: 8px
}

.zq-tooltip-placement-rightBottom .zq-tooltip-arrow {
    bottom: 8px
}

.zq-tooltip-placement-left .zq-tooltip-arrow,.zq-tooltip-placement-leftBottom .zq-tooltip-arrow,.zq-tooltip-placement-leftTop .zq-tooltip-arrow {
    right: 3px;
    border-width: 5px 0 5px 5px;
    border-left-color: #373737
}

.zq-tooltip-placement-left .zq-tooltip-arrow {
    top: 50%;
    margin-top: -5px
}

.zq-tooltip-placement-leftTop .zq-tooltip-arrow {
    top: 8px
}

.zq-tooltip-placement-leftBottom .zq-tooltip-arrow {
    bottom: 8px
}

.zq-tooltip-placement-bottom .zq-tooltip-arrow,.zq-tooltip-placement-bottomLeft .zq-tooltip-arrow,.zq-tooltip-placement-bottomRight .zq-tooltip-arrow {
    top: 3px;
    border-width: 0 5px 5px;
    border-bottom-color: #373737
}

.zq-tooltip-placement-bottom .zq-tooltip-arrow {
    left: 50%;
    margin-left: -5px
}

.zq-tooltip-placement-bottomLeft .zq-tooltip-arrow {
    left: 16px
}

.zq-tooltip-placement-bottomRight .zq-tooltip-arrow {
    right: 16px
}

.zoom-transition {
  display: inline-block; /* 否则 scale 动画不起作用 */
}
.zoom-enter {
  animation: zoom-in .2s cubic-bezier(.78,.14,.15,.86);
}
.zoom-leave {
  animation: zoom-out .1s cubic-bezier(.78,.14,.15,.86);
}

@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes zoom-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes zoom-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}